---
---

@import "{{ site.theme }}";

.btn-github .icon {opacity: 0.6;background: url("../images/github.png") 0 0 no-repeat;}
.btn-twitter .icon {opacity: 0.6;background: url("../images/twitter.png") 0 0 no-repeat;}
.btn-root-page .icon {opacity: 0.6;background: url("../images/home.png") 0 0 no-repeat;}
#tags {font-size: 13px;}

body { font-family: Arial, Helvetica, sans-serif; font-size: 17px;}

red {color: red;}
blue {color: lightblue;}
yellow {color: yellow;}
purple {color: purple;}
white {color: white;}
green {color: green;}
gold {color: gold;}